### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

оценка 2 и ниже — низкий рейтинг;
оценка 4 и ниже — средний рейтинг;
оценка 4.5 и 5 — высокий рейтинг.
Результат классификации запишите в столбец class.

In [27]:
import pandas as pd

In [154]:
%%time

ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
joined = ratings.merge(movies, on = 'movieId', how = 'left') # объединяем таблицы "ratings" и "movies" по колонке 'movieId'

rating1 = [0.5, 2.0, 4.0, 5.0] # разбиваем на интервалы числовые данные оценки: 0.5-2.0, 2.0-4.0, 4.0-5.0, правое значение входит в интервал (right = True), первое значение (0.5) входит в интервал (include_lowest=True))
class1 = ['Low', 'Average', 'High'] # названия для каждого из трех интервалов соответственно
joined['class_'] = pd.cut(joined['rating'], bins=rating1, labels=class1, right = True, include_lowest=True) # разбиваем на интервалы числовые данные оценки, присваиваем им названия и выносим их в отдельную колонку "class"
joined

CPU times: total: 62.5 ms
Wall time: 68.5 ms

,userId,movieId,rating,timestamp,title,genres,class_
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,Average
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,Average
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,Average
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,Low
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,Average
...,...,...,...,...,...,...,...
99999,671,6268,2.5,1065579370,Raising Victor Vargas (2002),Comedy|Drama|Romance,Average
100000,671,6269,4.0,1065149201,Stevie (2002),Documentary,Average
100001,671,6365,4.0,1070940363,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX,Average
100002,671,6385,2.5,1070979663,Whale Rider (2002),Drama,Average
100003,671,6565,3.5,1074784724,Seabiscuit (2003),Drama,Average

In [150]:
# Проверка
print(joined['class_'].unique())
print(joined['rating'].unique())
print(len(joined['movieId'].unique()))
print(len(ratings['movieId'].unique()))

['Average', 'Low', 'High']
Categories (3, object): ['Low' < 'Average' < 'High']
[2.5 3.  2.  4.  3.5 1.  5.  4.5 1.5 0.5]
9066
9066

## Задание 2
Используйте файл keywords.csv.
Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
‘Центр’: [‘москва’, ‘тула’, ‘ярославль’],
‘Северо-Запад’: [‘петербург’, ‘псков’, ‘мурманск’],
‘Дальний Восток’: [‘владивосток’, ‘сахалин’, ‘хабаровск’]
}

Результат классификации запишите в отдельный столбец region.

In [156]:
keywords = pd.read_csv('ml-latest-small/keywords.csv')
keywords.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734